$header_bg: #1C2327;                    // 头部颜色
$bgColor: #E9EAED;                      //页面整体颜色
$selectMenuBg: #00c1de;                  //选中菜单的颜色
$hoverMenuBg: #85ebee;                  //移入菜单 的颜色
$footer_color: #73777a;
